<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><%- config.title %> | <%- page.title %> </title>
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- project_partial('head_start') %>

    <!-- stylesheets -->
    <link rel="stylesheet" href="<%- url_for('style/doc.css') %>">

    <!-- favicon -->
    <link rel="icon" href="<%- url_for(config.theme_config.favicon) %>">

    <%- project_partial('head_end') %>

  </head>
  <body>

   <script>window.__INITIAL_STATE__ = <%- JSON.stringify(initial_state) %></script>

    <%- partial('_partial/navigation') -%>
    <%- body %>
    <%- partial('_partial/google_analytics') %>

    <%- project_partial('footer_start') %>

    <!-- js vendors -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/2.1.0/lunr.min.js"></script>

    <!-- js source  -->
    <script src="<%- url_for('script/doc.js') %>"></script>

    <%- project_partial('footer_end') %>

  </body>
</html>
