$dc-base-font-family: "Montserrat", sans-serif;
$dc-link-color: #D20C06;
$dc-link-color-hover: #A61410;

@import "dress-code/dist/sass/dress-code";

@import "./vars";
@import "./mixins";

// include dc-* selectors after variables to allow customization
@include dc-everything;

// core
@import "./typography";
@import "./layout";
@import "./navigation";
@import "./content";
@import "./formatting";

// components
@import "./search";
@import "./swagger-to-html";
@import "./support";
